.VisualiseObject {
    /* outline: 1px solid red; */
    width: 100px;
    height: 100px;
    background-color: bisque;
}

.VisualiseObject .minCircle {
    fill: darkgrey;
    stroke: black;
    stroke-dasharray: 1.5px;
}

.VisualiseObject .maxCircle {
    fill: gainsboro;
    stroke: black;
    stroke-dasharray: 1.5px;
}

.VisualiseObject .avgCircle {
    fill: none;
    stroke: black;
}