header.App {
    text-align: center;
}

footer.App {
    margin: 1rem 2rem 0rem;
    padding-top: 0.25rem;
    border-top: 4px solid darkgray;
}

.App-about {
    margin: 1rem 2rem 0rem;
    max-width: 60rem;
}

.NearEarthObjects h2 {
    margin: 1rem 2rem 0rem;
}

.SearchForm {
    margin: 1rem 2rem 0rem;
}

.NearEarthObjects-status {
    margin: 1rem 2rem 0rem;
    background-color: silver;
}

table > thead {
    position: sticky;
    top: 0;
}